<div class="game">
  <div class="game_field" *ngIf="!playerService.isPlayerReady">
      <h1 class="game_player-title">Add player name</h1>

      <input
          type="text"
          class="form-control game_input-name"
          [(ngModel)]="playerName"
          placeholder="add name"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
      >

      <div class="game_errorMessage" *ngIf="!errorMessage">Not valid name</div>

      <button
          class="btn btn-secondary game_submit-btn"
          [disabled]="playerName.length === 0"
          (click)="onSubmit()"
      >
          Submit
      </button>
  </div>

  <div class="game_field" *ngIf="playerService.isPlayerReady">
      <app-game-field [playerName]="playerName"></app-game-field>
  </div>
</div>
