.title-game {
  font-weight: bold;
  font-size: 56px;
  color: #0d00ff;
}

.cards-field {
  $card-side: calc(80vh / 5);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 5000px;

  &_card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $card-side;
      height: $card-side;
      margin-bottom: 2%;
      flex: 20%;

      transform-style: preserve-3d;
      transition: transform 0.5s;

      border: 1px solid #000;
      border-radius: 5px;
      background: #bfffcd;
      box-shadow: 2px 2px 20px #000;

      font-size: 5rem;
      color: #7a7a7a;

      &:active {
          transform: rotateY(180deg);
          transition: transform 0.3s;
      }

      &--isHidden {
          visibility: hidden;
          width: 100%;

          border: none;
          transition: transform 0.7s;
      }
  }

  &_back-side,
  &_front-side {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      overflow: hidden;
  }

  &_front-side img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: 50% 40%;
    vertical-align: top;
    border-radius: 5px;
  }

  &_back-side {
      width: 80%;
      height: 80%;
  }
}

.alert-win{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  padding: 10px;

  background-color: #329ccd;
  border: 2px solid #0a240b;
  box-shadow: 0 0 20px 10px #fff;

  transform: translate(-50%, -50%);
}
